.content
  %h3.mypage-nav-head 設定
  %ul.mypage-nav-list
  %li
    =link_to "#", class: "mypage-nav-list-item" do
      支払い方法
      %i.fas.fa-chevron-right
    -# %a.mypage-nav-list-item{:href => "/jp/mypage/card/"}
      支払い方法
      
  %li
    =link_to "#", class: "mypage-nav-list-item" do
      ログアウト
      %i.fas.fa-chevron-right
    -# %a.mypage-nav-list-item{:href => "/jp/logout/"}
      ログアウト
     