.content
  %h3.mypage-nav-head 設定
  %ul.mypage-nav-list
  %li
    =link_to "#", class: "mypage-nav-list-item" do
      支払い方法
      %i.fas.fa-chevron-right
  %li
    =link_to mypages_logout_mypages_path, class: "mypage-nav-list-item" do
      ログアウト
      %i.fas.fa-chevron-right