.main
  %section.mainVisual
    .content
      %h2.content__subtitle
        %br/
        人生を変えるフリマアプリ
      %p.content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br/
        フリマアプリです
      .content__btn
        =link_to "#", class: "aBtn" do
          =image_tag src="App_Store.svg",size:"180x53"
        =link_to "#" do
          =image_tag src="google-play-badge.png",size:"190x80"
