.pickupcontainer
  %section.pickupContainer
    %h2.head ピックアップカテゴリー
    .productBox
      .productHead
        = link_to "#" do
          %h3.title 新規投稿商品
      .productLists
        .productList
          - if @items.present?
            = render @items
          - else
            %h3 まだ商品はありません