.app-name
  =link_to image_tag("logo.png",size:"200x60"),"root_path"
.sell
  .sell__title
    出品画像
    %span.form__request 必須
    .sell__text
      最大10枚までアップロードできます！
  = render partial: 'form'

.sell-footer
  .sell-footer__list
    %ul.sell-footer__contents
      %li
        =link_to "プライバシーポリシー","/"
      %li
        =link_to "メルカリ利用規約","/"
      %li
        =link_to "特定商取引に関する表記","/"
  .sell-footer__logo
    =link_to image_tag("logo.png",size:"170x50"),"/"
  .sell-footer__logo--Cmark
    © FURIMA
