.app-name
  =link_to image_tag("logo.png",size:"200x60"),"/"
.sell
  .sell__title
    出品画像
    %span.form__request 必須
    .sell__text
      最大10枚までアップロードできます！
      
  = render partial: 'form'
= render partial: 'footer'
