@mixin cover {
  max-width: 700px;
  background-color: lightskyblue;
  margin: 0 auto;
  padding: 50px;
  border: solid 1px #272727;
}

@mixin req {
  font-size: 13px;
  color: white;
  background-color: red;
  padding: 4px;
  border-radius: 10px;
}

@mixin cont {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
}

@mixin input {
  width: 100%;
  margin-bottom: 30px;
  height: 45px;
  border: solid 1px black;
  border-radius: 4px;
  padding-left: 10px;
  margin-top: 16px;
}

.form__request {
  @include req;
}

.form__request2 {
  font-size: 13px;
  color: white;
  background-color: grey;
  padding: 4px;
  border-radius: 10px;
}

.app-name {
  text-align: center;
  padding: 50px 0;
}

.sell {
  @include cover;
  &__title {
    font-weight: bold;
  }
  &__text {
    font-size: 15px;
    margin-top: 16px;
  }
  &__preview {
    margin: 0 auto;
    margin-top: 16px;
    height: 180px;
    width: 600px;
    position: relative;
    background-color: gray;
    border: dashed 2px whitesmoke;
    &--text {
      text-align: center;
      font-size: 12px;
      padding-top: 70px;
    }
  }
  form input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
  }
}