.image-container {
  padding-bottom: 20px ;
    #image-box {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color:#dddddd;
    .js-file_group {
      margin-bottom: 10px;
      .js-remove {
        color: #3CCACE;
        font-size: 18px;
      }
    }
  }
}