.mainmypage{
  display: flex;
  margin-top: 30px;
  margin-bottom: 60px;
  .content{
    width: 100%;
    .mypage-user-icon {
      position: relative;
      height: 255px;
      padding: 20px;
      background-image: image-url("awa2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      a {
        text-decoration: none;
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        color: #333;
      }
      .figure {
        overflow: hidden;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        border-radius: 50px;
      }
      .h2 {
          margin: 8px 0 0;
          font-weight: bold;
      }
      .mypage-number {
        margin: 8px 0 0;
        font-size: 0;
        div {
          display: inline-block;
          font-size: 14px;
          span {
            margin: 0 0 0 8px;
            font-size: 16px;
        }
      }
        div {
          margin: 0 0 0 16px;
      }
    }
  }
}
}

// profile.html.haml
.s-container{
  background-color: rgb(245, 245, 245);
  padding: 100px 0;
  .s-main{
    padding: 30px;
    width: 700px;
    margin: 20px auto;
    text-align: center;
    h2 {
      text-decoration: underline;
      margin: 20px 0;
    }
    a{
      text-decoration: none;
    }
    .left-text{
      display: inline-block;
    }
    .right-text{
      display: inline-block;
    }
  }
}

// / ###ログアウト
.l-container{
  background-color: rgb(245, 245, 245);
  padding: 30px 0;
  .l-main{
    padding: 30px;
    width: 700px;
    margin: 0 auto;
    a{
      text-decoration: none;
    }
    .l-mainbtn{
      background-color: red;
      height: 40px;
      width: 300px;
      text-align: center;
      margin: 0 auto;
      h3{
        color: white;
        line-height: 40px;
        font-size: 18px;
      }
    }
  }
}

// show.html.haml
.u-container{
  background-color: rgb(245, 245, 245);
  padding: 10px 0;
  .u-main{
    width: 760px;
    margin: 20px auto;
    text-align: left;
    .u-introduction{
      width: 100%;
      margin: 60px 0;
      word-wrap: break-word;
    }
    .u-items {
      &__list {
        .productLists {
          display: flex;
          justify-content: start;
          flex-wrap: wrap;
        }
        h5 {
          margin-top: 20px;
        }
      }
    }
    a{
      text-decoration: none;
    }
  }
}

.side-bar{
  margin: 0 40px;
  li{
    border: 0;
    list-style: none;
    border-bottom: 1px solid gray;
    width: 240px;
    font-weight: 600;
    .mypage-nav-list-item{
      position: relative;
      display: block;
      min-height: 48px;
      padding: 16px;
      background: #fff;
      font-size: 14px;
      color: #333;
      a{
        text-decoration: none;
        color: black;
      }
      .fas {
        position: absolute;
        top: 50%;
        right: 16px;
        color: #ccc;
        transform: translate(0, -50%);
      } 
    }
  }
}

.main-content{
  display: flow-root;
  width: 870px;
}