.top-page-appBanner
  .top-page-appBanner__title
    だれでもかんたん、人生を楽しくするフリマアプリ
    .top-page-appBanner__text
      今すぐ無料ダンロード！
      .top-page-appBanner__icons
        .top-page-appBanner__icons--Apple
          %a{:href => ""}
            =image_tag src="App_Store.svg",size:"140x60"
        .top-page-appBanner__icons--Google
          %a{:href => ""}
            = image_tag src="google-play-badge.png",size:"190x90"