.top-page-footer
  .top-page-footer__contents
    .top-page-footer__content
      %li
      .top-page-footer__content--title
        FURIMAについて
      %li
        %a{:href => ""}会社概要(運営会社)
      %li   
        %a{:href => ""}プライバシーポリシー
      %li   
        %a{:href => ""}FURIMA利用規約
      %li
        %a{:href => ""}ポイントに関する特約
    .top-page-footer__content
      %li
      .top-page-footer__content--title
        FURIMAを見る
      %li
        %a{:href => ""}カテゴリー一覧
      %li   
        %a{:href => ""}ブランド一覧
    .top-page-footer__content
      %li
      .top-page-footer__content--title
        ヘルプ&ガイド
      %li
        %a{:href => ""}FURIMAのガイド
      %li   
        %a{:href => ""}FURIMAロゴ利用ガイドライン
      %li   
        %a{:href => ""}お知らせ
  .top-page-footer__logo
    %a{:href => ""}
      =image_tag src="logo-white.png",size:"170x50"
    .top-page-footer__logo--Cmark
      © FURIMA
%a{:href => ""}
  .top-page-footer__exhibitionBtn
    出品する
    .top-page-footer__exhibitionBtn--icon
      = image_tag src="icon_camera.png",size:"60x60"