.top-page-header
  .top-page-header__headerinner
    .top-page-header__mainheader
      .top-page-header__image
        = link_to image_tag("logo.png",size:"150x45")
      = form_tag('#', method: :get, class: "top-page-header__searchbox") do
        %input.top-page-header__form{name: "keyword", placeholder: "キーワードから探す",type: "text", value: ""}
        %button.top-page-header__form--btn{title: "",type: "submit"}
          = image_tag src="icon-search 1.png",size:"30x30"
    
    .top-page-headerNav
      .top-page-headerNav__left
        %ul
          %li.top-page-headerNav__left--category
            %a{:href => ""}カテゴリ
          %li.top-page-headerNav__left--bland
            %a{:href => ""}ブランド
          
      .top-page-headerNav__right
        %ul
          - if user_signed_in?
            %li.top-page-headerNav__right--mypage
              %a{:href => ""}マイページ
            %li.top-page-headerNav__right--signout
              = link_to "ログアウト*後で消す", destroy_user_session_path, method: :delete
          - else
            %li.top-page-headerNav__right--login
              %a{:href => "/users/sign_in"}ログイン
            %li.top-page-headerNav__right--signup
              %a{:href => "/users/sign_up"}新規登録